extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 
      = form.name ? form.name : 'Untitled Form'

  form(action='/form/update/' + form.id, method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Name
      .col-md-7
        input.form-control(type='text', name='name', id='name', value=form.name)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='headline') Headline
      .col-md-7
        input.form-control(type='text', name='headline', id='headline', value=form.headline)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='buttonText') Button Text
      .col-md-7
        input.form-control(type='text', name='buttonText', id='buttonText', value=form.buttonText)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='backgroundColor') Background Color
      .col-md-7
        input.form-control(type='text', name='backgroundColor', id='backgroundColor', value=form.backgroundColor)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='headlineColor') Headline Color
      .col-md-7
        input.form-control(type='text', name='headlineColor', id='headlineColor', value=form.headlineColor)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='buttonColor') Button Color
      .col-md-7
        input.form-control(type='text', name='buttonColor', id='buttonColor', value=form.buttonColor)
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Update Form

  .pb-2.mt-2.mb-4.border-bottom
    h3 Code

  -
    let html0 = `<div id="emailPopUpExampleBackground" style="display: none !important; background-color: rgba(0,0,0,0.5) !important; height: 100% !important;">`;
    let html1 = `<div id="emailPopUpExampleContainer" style="background:` + form.backgroundColor + ` !important; width: 400px !important; margin-left: auto !important; margin-right: auto !important; top: 50% !important; position: relative !important; transform: translateY(-50%) !important; padding: 16px !important;">`;
    let html2 = `<div style="text-align: right !important;"><button id="emailPopUpExampleClose" style="background:none !important; border-width: 0 !important;" type="submit">X</button></div>`;
    let html3 = `<form id="emailPopUpExampleForm" action="https://infinite-lowlands-01206.herokuapp.com/form/register/` + form.id + `" method="POST">`;
    let html4 = `<div><h3 style="color:` + form.headlineColor + ` !important; text-align: center !important;">` + form.headline + `</h3></div>`;
    let html5 = `<div style="text-align: center !important;"><input style="width: 150px !important;" type="email" name="email" placeholder="Email" required></div>`;
    let html6 = `<div style="text-align: center !important;"><button style="background:` + form.buttonColor + ` !important; border-width: 0 !important; width: 150px !important; margin: 0px !important;" type="submit">` + form.buttonText + `</button></div></form></div>`;
    let html7 = `<script src="https://infinite-lowlands-01206.herokuapp.com/js/emailPopUp.js"></script>`;

    var html = html0 + html1 + html2 + html3 + html4 + html5 + html6 + html7;
  
  .form-group.row
    label(class='col-md-2 col-form-label font-weight-bold') Copy and paste this HTML wherever you want your registration form to appear.
    .col-md-8
      textarea.form-control(rows='7', readonly='readonly')
        = html

  .pb-2.mt-2.mb-4.border-bottom
    h3 Delete Form

  form(action='/form/delete', method='POST', onsubmit="return confirm('Are you sure you want to delete your form?');")
    .form-group
      p.offset-sm-3.col-md-7.pl-2 You can delete your form, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-danger(type='submit')
          i.fas.fa-trash-alt.fa-sm
          | Delete form